<% layout("/layouts/boilerpplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2 mt-3">


            <form method="post" action="/listings/<%= listingData._id %>?_method=PUT" novalidate
                class="needs-validation">
                <h3>Edit the listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text " name="listing[title]" value="<%=listingData.title%>" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Title Looks good!
                    </div>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>

                    <textarea name="listing[description]" id="" value="<%=listingData.description%>"
                        class="form-control"><%=listingData.description%>  required</textarea>
                    <div class="invalid-feedback">
                        Description Shouls be short
                    </div>

                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Source</label>
                    <input type="text " value="<%=listingData.image.url %>" class="form-control"
                        name="listing[image][url]" required>
                    <div class="invalid-feedback">
                        Enter a Image Url
                    </div>

                </div>
                <div class="row">


                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" value="<%=listingData.price%>" id=""
                            class="form-control" required>
                        <div class="invalid-feedback">
                            Enter a valid Price
                        </div>

                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listingData.country%>" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please enter the valid Country
                        </div>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listingData.location%>%>" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please enter the valid location!
                    </div>
                </div>

                <button class="btn edit-btn">edit</button>
            </form>
        </div>
    </div>

    <br><br>
    <script src="script.js"></script>